.emptyWrap {
	border: 2px dashed #ae96ff;
	border-radius: 20px;
	padding: 10px;
	width: 100%;
	height: 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.emptyTitle {
	font-weight: 300;
	font-size: 16px;
	letter-spacing: -0.06em;
	text-align: center;
	color: #ae96ff;

}

.emptyTitle span {
	font-weight: 800;
}