.stack {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	height: 100px;
}

.taskItemWrapper {
	width: 100%;
	padding: 0;
	transition: all 0.3s ease;
}

.taskItemWrap {
	width: 100%;
	transition: width 0.3s ease;
}

.expanded {
	gap: 10px;
	/* height: 280px; */
	height: auto;
}

.expanded .taskItemWrap {
	display: flex;
	flex-direction: column;
}