.btn {
	position: fixed;
	bottom: 89px;
	right: 20px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: var(--bg-register); 
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 1px 2px 0 #d7ccc6;
  }
  