.card {
	border-radius: 24px;
	padding: 20px 0;
}
  
.content {
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 20px;
	align-items: start;
}
  
.left { 
	display: grid; 
	gap: 10px; 
}
  
.row { 
	display: flex;
	flex-direction: column; 
	align-items: baseline; 
}

.label { 
	font-weight: 400;
	font-size: 16px;
	line-height: 256%;
	letter-spacing: 0.02em;
	color: #000;

}

.valuePrimary, .valueSecondary { 
	font-size: 24px;
	line-height: 0%;
	letter-spacing: 0.02em;
	color: #3d00cb;
	font-weight: 300;
	margin-top: 10px;

	span {
		font-weight: 900;
	}
}

.valueSecondary { 
	color: #1b79e2; 
}
  
.rings {
    position: relative;
    width: 186px;
    height: 186px;
}

.outerRing,
.innerRing {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
  
.emoji {
	position: absolute;
	left: 50%;
	top: 48%;
	width: 81px;
	height: 81px;
	transform: translate(-50%, -50%);
	display: grid;
	place-items: center;
	font-size: 64px;
	background: transparent;
	border-radius: 50%;
  }
  