.card {
	border-radius: 24px;
	padding: 20px 0;
  }
  
  /* .header {
	font-weight: 700;
	margin-bottom: 12px;
  } */
  
  .content {
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 20px;
	align-items: start;
}
  
  .left { 
	display: grid; 
	gap: 10px; 
}
  
  .row { 
	display: flex;
	flex-direction: column; 
	align-items: baseline; 


}
  .label { 
	color: #1f1f1f; 
	font-size: 18px; 

}
  .valuePrimary { 
	font-size: 28px; font-weight: 800; color: #4C1DFF; 
}

  .valueSecondary { 
	font-size: 24px; font-weight: 700; color: #1b79e2; 
}
  
  .rings {
	position: relative;
	width: 186px;
	height: 176px;
  }
  
  .innerRing {
	position: absolute;
	left: 20px;  /* разница (176-136)/2 */
	top: 20px;
	pointer-events: none;
	padding: 5px 5px;
  }
  
  .emoji {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 81px;
	height: 81px;
	transform: translate(-50%, -50%);
	display: grid;
	place-items: center;
	font-size: 64px;
	background: transparent;
	border-radius: 50%;
  }
  