.gradient {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 250px;
        border-radius: 100%;
}

.gradientSvg {
        width: 100%;
        height: 100%;
}

