.gradient {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 250px;      
        border-radius: 100%;
}

.gradient {
        position: absolute;
        top: -50px;
        left: 0;
		right: 0;
        max-width: 100%;
        height: 250px;
        border-radius: 100%;
        background: linear-gradient(180deg, #3d00cb 0%, #3d00cb 100%);
        stroke-width: 1px;
        stroke: #000;
        filter: blur(60px);
        z-index: 1;
}

.topBarWrap {
        z-index: 2;
        width: 100%;
}

