.gradient {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 290px;
        overflow: hidden;
        z-index: 1;
}

.gradientEllipse {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        min-width: 375px;
        height: 290px;
        pointer-events: none;
}

.topBarWrap {
        z-index: 2;
        width: 100%;
}

