.wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	z-index: 2;
}

.textareaWrap {
	position: relative;
	width: 100%;
}

.textarea {
	width: 100%;
	border-radius: 20px;
	box-shadow: inset 0 1px 2px 0 #bfbfbf;
	background: var(--flowkit-white);
	height: 96px;
	padding: 10px;
	font-family: var(--font-family);
	font-weight: 900;
	font-size: 24px;
	line-height: 100%;
	letter-spacing: -0.04em;
	color: rgb(0, 0, 0);
}

.textarea::placeholder {
	font-family: var(--font-family);
	font-weight: 900;
	font-size: 24px;
	line-height: 100%;
	letter-spacing: -0.04em;
	color: #000;
	opacity: 0.25;
}

.textareaWrap span {
	font-family: var(--font-family);
	font-weight: 300;
	font-size: 11px;
	color: #000;
	opacity: 0.25;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.error {
	border: 2px solid rgba(255, 0, 0, 0.5);;
	box-shadow: inset 0 1px 2px 0 #bfbfbf;
}

