.handleArea {
	display: flex;
	justify-content: center;
	padding: 16px 0 16px;
	cursor: pointer;
	position: relative;
	z-index: 1;
	width: 100%;
}

.handle {
	width: 64px;
	height: 4px;
	border-radius: 999px;
	background: rgba(255, 255, 255, 0.9);
	position: relative;
	display: block;
	border: none;
	cursor: pointer;
}

