.root {
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        overflow: visible;
}

.svg {
        display: block;
        width: 100%;
        height: 100%;
}

