.taskItem {
	border-radius: 20px;
	height: 80px;
	width: 100%;
}

.swipeWrap { 
	position: relative; 
}

.taskItemContent {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 10px;
	position: relative;
}

.emojiWrap {
	border-radius: 1392px;
	min-width: 60px;
	width: 60px;
	min-height: 60px;
	height: 60px;
	background: #f7f1ee;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.checked .emojiWrap {
	background: rgba(255, 255, 255, 0.35);
}

.checked .emoji {
	opacity: 0.35;
}

.emoji {
	font-weight: 300;
	font-size: 40px;
	line-height: 100%;
	letter-spacing: -0.03em;
}

.title {
	font-weight: 300;
	font-size: 24px;
	line-height: 100%;
	letter-spacing: -0.04em;
	color: var(--flowkit-white);
	text-align-last: left;
	margin-left: 10px;
	display: -webkit-box;
	-webkit-line-clamp: 2;     /* количество строк */
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 60%;
}

.right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	margin-left: auto;
	margin-top: auto;
}

.time {
	font-weight: 300;
	font-size: 11px;
	letter-spacing: -0.09em;
	color: var(--flowkit-white);
	opacity: 0.75;
	position: absolute;
	top: 10px;
	right: 10px;
}

.deleteBtn {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 48px;
	opacity: 0; pointer-events: none;
	transform: translateX(40px);
	transition: opacity 0.2s, transform 0.2s;
	background: rgba(255, 0, 0, 0.5);
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.showDelete {
  opacity: 1; pointer-events: auto;
  transform: translateX(0);
}

.taskItem.swiped { 
	transform: translateX(-60px); 
	transition: transform 0.2s; 
}

.checkboxWrap {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 3px;
	margin-bottom: 3px;
}
  
.checkbox {
	appearance: none;
	-webkit-appearance: none;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	background-color: rgba(128, 128, 128, 0.8); /* серый фон */
	position: relative;
	cursor: pointer;
	outline: none;
	transition: transform 0.15s ease;
}
  
.checkbox::before {
	content: "";
	position: absolute;
	inset: -4px; /* внешнее кольцо */
	border-radius: 50%;
	border: 2px solid rgba(128, 128, 128, 0.6); /* прозрачный бордер */
	pointer-events: none;
}
  
.checkbox:active {
	transform: scale(0.96); /* сжимается на ~1px */
}

.checkbox:checked::after {
	content: "";
	position: absolute;
	inset: 4px;
	top: 6px;
	left: 3px;
	background-image: url("data:image/svg+xml,%3Csvg width='18' height='13' viewBox='0 0 18 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.293 0.293091C16.6835 -0.0974334 17.3165 -0.0974331 17.707 0.293091C18.0974 0.683627 18.0975 1.31668 17.707 1.70715L6.70703 12.7072C6.31656 13.0976 5.6835 13.0975 5.29297 12.7072L0.292969 7.70715C-0.0975555 7.31663 -0.0975555 6.68361 0.292969 6.29309C0.683493 5.90257 1.31651 5.90257 1.70703 6.29309L6 10.5861L16.293 0.293091Z' fill='white' fill-opacity='0.5' /%3E%3C/svg%3E");
	background-size: contain;
	background-repeat: no-repeat;
	width: 16px;
	height: 11px;
  }