.timeLabel {
	font-family: var(--font-family);
	font-weight: 900;
	font-size: 24px;
	line-height: 89%;
	letter-spacing: -0.04em;
	color:	var(--btn-text-main);
}

.select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: rgba(174, 150, 255, 0.25);
	border-radius: 12px;
	padding: 3px 2px;
	padding-right: 5px;
	font-family: var(--font-family);
	font-weight: 300;
	font-size: 19px;
	line-height: 127%;
	letter-spacing: -0.03em;
	text-align: right;
	color: #000;
}

.placeholderCentered {
	text-align: center;
}