@import "tailwindcss";
@import './fonts.css';

@font-face {
	font-family: "SF Pro";
	src: url("/fonts/SF-pro/SFProDisplay-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
  }
  
  @font-face {
	font-family: "SF Pro";
	src: url("/fonts/SF-pro/SFProDisplay-Semibold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
  }
  
  @font-face {
	font-family: "SF Pro";
	src: url("/fonts/SF-pro/SFProDisplay-Heavy.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
  }
  
  
  @font-face {
	font-family: "SF Pro Text";
	src: url("/fonts/SF-pro-text/SFProText-Heavy.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
  }

  @font-face {
	font-family: "SF Pro Text";
	src: url("/fonts/SF-pro-text/SFProText-Semibold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
  }

  @font-face {
	font-family: "Onest";
	src: url("/fonts/Onest/Onest-Black.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
  }

  @font-face {
	font-family: "Onest";
	src: url("/fonts/Onest/Onest-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
  }

  @font-face {
	font-family: "Onest";
	src: url("/fonts/Onest/Onest-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
  }

:root {
  --font-family: "Onest", sans-serif;
  --second-family: "SF Pro Text", sans-serif;
  --third-family: "SF Compact", sans-serif;
  --font3: "SF Pro", sans-serif;
  --font4: "VK Sans Text", sans-serif;
  --font5: "SF Pro Display", sans-serif;

  --flowkit-purple: #7b61ff;
	--flowkit-charcoal: #222;
	--flowkit-red: #fc5555;
	--flowkit-green: #29cc6a;
	--flowkit-blue: #09f;
	--flowkit-white: #fff;

  --bg-register: linear-gradient(135deg, #ae96ff 0%, #3d00cb 60%);
  --btn-text-main: #3d00cb;
  --main-accent: #3d00cb;
  --app-bg: #f7f1ee;
  --black: #000;
}

body {
  font-family: var(--font-family);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  height: 100vh;
}

body {
  position: relative;
  overflow-x: hidden;
}

button {
  cursor: pointer;
  border: none;
	outline: none
}

input:focus {
  outline: none; /* отключает синий обвод */
  box-shadow: none; /* отключает glow (в Safari, Firefox) */
}

textarea {
  resize: none;
}

textarea:focus, textarea:active {
  outline: none;
  box-shadow: none; /* На случай, если браузер использует shadow вместо outline */
}

.rdp-months {
  max-width: 100% !important;
}

.rdp-month_grid {
  width: 100%
}


