.settingItem {
	height: 36px;
	position: relative;
	display: flex;
	align-items: center;
	padding: 0 10px;
}

.icon {
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	width: 16px;
	height: 16px;
	color: #000;
	flex-shrink: 0;
}

.iconDisabled {
	opacity: 0.25;
}

.settingLabel {
	position: absolute;
	left: 36px;
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 100%;
	color: #000;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.settingLabelDisabled {
	opacity: 0.25;
}

.toggle {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	width: 50px;
	height: 31px;
	background: #b0acaa;
	border-radius: 100px;
	overflow: hidden;
	cursor: pointer;
}

.toggleKnob {
	position: absolute;
	right: 21px;
	top: 50%;
	transform: translateY(-50%);
	width: 27px;
	height: 27px;
	background: white;
	border-radius: 100px;
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 3px 8px 0px rgba(0, 0, 0, 0.15), 0px 3px 1px 0px rgba(0, 0, 0, 0.06);
	transition: right 0.2s ease;
}

.toggleKnobActive {
	right: 2px;
}

