.wrap {
	/* width: 100%;
	height: 100vh;
	padding: 40px 20px;
	background: var(--bg-register); */
	min-height: 100dvh;
  	height: 100svh;    
  	padding: 40px 20px; 
  	box-sizing: border-box;

  	display: flex;
  	flex-direction: column;
  	justify-content: space-between;

  	background: var(--bg-register);
  	overflow: auto; 
}