.wrap {
	position: relative;
	height: 100dvh; 
	width: 100%;
	padding: 40px 20px;
	box-sizing: border-box;
	display: flex;
  	flex-direction: column;           
  	justify-content: space-between;
}

.wrap::before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	height: 100dvh;
	background: var(--bg-register);
	z-index: -1;
	pointer-events: none;
}


  
  