.wrap {
	position: relative;
	min-height: 100vh;
	min-height: 100dvh;
	width: 100%;
	padding: 40px 20px;
	box-sizing: border-box;
	display: flex;
  	flex-direction: column;           
  	justify-content: space-between;
}

.wrap::before {
	content: "";
	position: fixed;
	inset: 0;
	width: 100%;
	height: 100%;
	min-height: 100vh;
	height: 100dvh;
	min-height: 100dvh;
	background: var(--bg-register);
	z-index: -2;
	pointer-events: none;
	margin: 0;
	padding: 0;
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
}

.wrap::after {
	content: "";
	position: fixed;
	inset: 0;
	width: 100%;
	height: 100%;
	min-height: 100vh;
	height: 100dvh;
	min-height: 100dvh;
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3CfeColorMatrix type='saturate' values='0'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
	background-size: 200px 200px;
	z-index: -1;
	pointer-events: none;
	margin: 0;
	padding: 0;
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
	opacity: 0.2;
	mix-blend-mode: overlay;
}


  
  