.card {
	border: none;
}

.calendarItem {
	width: 100%;
}

.root {
	--rdp-accent-color: var(--btn-text-main);
	--rdp-background-color: #f0f0f0;
	--rdp-today-color: var(--btn-text-main);
  }

.monthsCustom {
	width: 100%;
}

.caption {
	display: flex;
	height: var(--rdp-nav-height);
    align-content: center;
    font-size: large;
    font-weight: bold;
	color: var(--btn-text-main);
	font-family: var(--font-family);
	font-weight: 900;
	font-size: 24px;
	line-height: 89%;
	letter-spacing: -0.04em;
}

.weekdaysCustom {
	font-family: var(--font-family);
	font-weight: 300;
	font-size: 11px;
	line-height: 138%;
	letter-spacing: -0.05em;
	text-align: center;
	color: rgba(0, 0, 0, 0.25);
	text-transform: capitalize;
	font-size: large !important;
}

.dayCustom {
	font-family: var(--font-family);
	font-weight: 300;
	font-size: 17px;
	line-height: 120%;
	letter-spacing: -0.06em;
	text-align: center;
	color: #000;
}

.todayDay {
	font-weight: 900;
	color: var(--btn-text-main);
}

.selectedDay {
	background: rgba(174, 150, 255, 0.25);
	border-radius: 12px;
	font-weight: 900;
	font-size: 21px;
	line-height: 121%;
	letter-spacing: -0.05em;
	color: var(--btn-text-main);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: background 0.2s ease; 
}