.tasksWrap {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	padding: 5px 10px;
	width: 40px;
	height: 27px;
	background: var(--flowkit-white);
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 14px;
	letter-spacing: -0.09em;
	text-align: center;
	color: #000;
}

.tasksWrap span {
	opacity: 0.25;
	display: inline-block;
}