.stack {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	height: 110px;
}

.taskItemWrapper {
	width: 100%;
	padding: 0;
	transition: all 0.3s ease;
}

.taskItemWrap {
	width: 100%;
	transition: width 0.3s ease;
}

.expanded {
	gap: 16px;
	height: 300px;
}

.active {
	/* transform: none !important;
	scale: 1 !important; */
}

.expanded .taskItemWrap {
	display: flex;
	flex-direction: column;
}