.top {
	margin-top: 31px;
}

.title {
	text-align: center;
	font-family: var(--second-family);
	font-weight: 300;
	font-size: 36px;
	line-height: 100%;
	letter-spacing: -0.03em;
	text-align: center;
	background: linear-gradient(146deg, #fff 0%, #ae96ff 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	span {
		font-weight: 900;
	}
}

.name {
	font-family: var(--second-family);
	font-weight: 900;
	font-size: 62px;
	line-height: 100%;
	letter-spacing: -0.02em;
	color: var(--flowkit-white);
	margin-left: 13px;
}

.hasAccount {
	width: 100%;
	height: 57px;
	background: transparent;
	font-family: var(--second-family);
	font-weight: 900;
	font-size: 24px;
	letter-spacing: -0.04em;
	text-align: center;
	color: var(--flowkit-white);
}