.top {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 80px;
}

.title {
	font-family: var(--second-family);
	font-weight: 900;
	font-size: 36px;
	line-height: 100%;
	letter-spacing: -0.03em;
	text-align: center;
	background: linear-gradient(146deg, #fff 0%, #ae96ff 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.input {
	background-color: transparent;
  	border: none;
  	border-bottom: 2px solid rgba(255, 255, 255, 0.25);
  	border-radius: 0;
  	box-shadow: none;
  	font-family: var(--second-family);
	font-weight: 900;
	font-size: 36px;
	line-height: 100%;
	letter-spacing: -0.03em;
	text-align: center;
	color: var(--flowkit-white);
	opacity: 0.5;
  	width: 100%;
	height: auto;
	padding: 10px;
}

.error {
	border-bottom: 2px solid #FF0000 !important;
	opacity: 0.5;
}

.input::placeholder {
	font-family: var(--second-family);
	font-weight: 900;
	font-size: 36px;
	line-height: 100%;
	letter-spacing: -0.03em;
	text-align: center;
	color: var(--flowkit-white);
	opacity: 0.5;
}